
<div class="container" ng-controller="VotationCreateController">
    <div class="panel panel-default">
        <div class="panel-heading text-center">
            <h4>{{ title }}</h4>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-6">
                    <h3>Datos votación</h3>
                    <form class="form-horizontal" role="form">
                        <div class="form-group">
                            <label for="type" class="col-md-4 control-label">Tipo de votación</label>
                            <div class="col-md-6">
                                <select id="type" ng-model="votation.type" class="form-control">
                                    <option value=""></option>
                                    <option value="ALTERNATIVO">Voto Alternativo</option>
                                    <option value="PREFERENCIAL">Voto Preferencial</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="title" class="col-md-4 control-label">Nombre Votación</label>
                            <div class="col-md-6">
                                <input ng-model="votation.title" type="text" id="title" class="form-control">
                            </div>
                        </div>
                        <div class="form-group" ng-controller="DateController">
                            <label for="dateStart" class="col-md-4 control-label">Fecha inicio</label>
                            <div class="col-md-6">
                                <input ng-model="votation.initDate" type="datetime-local" id="dateStart" class="form-control"
                                       placeholder="yyyy-MM-dd" min="{{ start }}" required/>
                            </div>
                        </div>
                        <div class="form-group" ng-controller="DateController">
                            <label for="dateEnd" class="col-md-4 control-label">Fecha termino</label>
                            <div class="col-md-6">
                                <input ng-model="votation.endDate" type="datetime-local" id="dateEnd" class="form-control"
                                       placeholder="yyyy-MM-dd" min="{{  endRestrict }}" required/>
                            </div>
                        </div>
                        <h3>Votantes</h3>
                        <div style="display: flex; flex-direction: row; align-items: center;">
                            <div class="col-md-7">
                                <div class="form-group well well-sm">
                                    <label class="control-label" for="search">Buscar votantes:</label>
                                    <input type="text" id="search" class="form-control" ng-model="query"
                                           ng-disabled="voters.length  === 0" placeholder="Buscar por nombre de votante...">
                                </div>
                            </div>
                            o
                            <div class="col-md-5">
                                <div class="form-group well well-sm">
                                    <label class="control-label" for="sections">Seleccionar un padrón:</label>
                                    <select class="form-control" id="sections" ng-disabled="institution.voters.length  === 0" ng-change="assignList()"
                                            ng-model="selectedList" ng-options="list for list in lists">
                                        <option value="">-- Elegir padrón --</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="well well-sm" ng-if="query && query.length > 0">
                            <div class="text-center" ng-if="!matchQuery"><b>La búsqueda no arrojó resultados</b></div>
                            <span class="label label-success voter" ng-repeat="voter in institution.voters | filter: filterFunction | orderBy: 'name' ">
                            {{ voter.name }}
                            <a class="voter-close" ng-click="assignVoter(voter, true)">+</a>
                        </span>
                        </div>
                        <h4 class="text-center">Votantes habilitados</h4>
                        <div class="well well-sm">
                            <div class="text-center" ng-if="votation.voters.length === 0"><b>Aún no se han seleccionado votantes</b></div>
                            <span class="label label-default voter" ng-repeat="voter in votation.voters">
                            {{ voter.name }}
                            <a class="voter-close" ng-click="removeVoter($index)">&times;</a>
                        </span>
                        </div>
                    </form>
                </div>
                <div class="col-md-6">
                    <h3>Candidatos</h3>
                    <div class="container-fluid">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>Nombre Candidato</th>
                                <!--<th>Foto</th>
                                <th>Datos</th>-->
                            </tr>
                            </thead>

                            <tbody>
                            <tr ng-repeat="item in lista">
                                <td style="cursor: not-allowed;"> {{$index + 1}}</td>
                                <td editable-td row="{{$index}}" field="text"></td>
                                <!--<td editable-td row = "{{$index}}" field ="picture">{{item.picture}}</td>
                                <td editable-td row = "{{$index}}" field ="data">{{item.data}}</td>-->
                                <td><span class="glyphicon glyphicon-trash" style="cursor: pointer;"
                                          ng-click='eliminar($index)'></span></td>
                            </tr>
                            </tbody>
                        </table>
                        <div class="btn-group">
                            <button class="btn btn-default" ng-click='agregar()'>
                                <span class="glyphicon glyphicon-plus"></span>
                            </button>
                        </div>

                        <br><br>
                    </div>

                </div>
            </div>
        </div>
        <div class="panel-footer">
            <button ng-click="send()" type="submit" class="btn btn-default">Crear Votación</button>
        </div>
    </div>
</div>



         
        
        

   