<div class="container" ng-controller="adminCuentasController">
    <div class = "row">
        <div class="col-md-5">
            <div class="panel panel-default">
                <div class="panel-heading text-center">
                    <h4>Votantes de la institución</h4>
                </div>
                <div class="panel-body">
                    <div class="checkbox" ng-repeat="v in voters">
                        <label>
                            <input type="checkbox" checklist-model = "associates" data-checklist-value="v">
                            <span class="box"></span>&emsp;{{v.name}}
                        </label>
                    </div>
                </div>
            </div>
        </div>
    
        <div class = "col-md-2 text-center">
            <div class = "btn-group-vertical">
                <button ng-click= "mostrar()" type = "submit" class = "btn btn-default">Elegir</button>
                <br>
                <button type = "button" class = "btn btn-default">Eliminar</button>   
            </div>
        </div>    
        <div class="col-md-5">
            <div class="panel panel-default">
                <div class="panel-heading text-center">
                    <input type = "text" id = "name" name = "nombre" class = "form-control" placeholder="Ingrese nombre votación"> 
                </div>
                <div class="panel-body">
                    <div  ng-repeat = "v in associates">
                        <label>
                            <span class="box"></span>&emsp;{{v.name}}
                        </label>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>