<div class="container" ng-controller="MainController">
    <div class="col-md-5 ">
        <div class="panel panel-default">
            <div class="panel-heading text-center">
                <h4>Votantes de la institución</h4>
            </div>
            <div class="panel-body">

            </div>
        </div>
    </div>

    <div class="col-md-1 ">
        <a href="#" class="btn btn-default" role="button">Link Button</a>
    </div>


    <div class="col-md-5 col-md-offset-2">
        <div class="panel panel-default">
            <div class="panel-heading text-center">
                <h4>Lista de votantes</h4>
            </div>
            <div class="panel-body">

            </div>
        </div>
    </div>

</div>