<div class="container" ng-controller="MainController">
    <div class = "row">
        <div class="col-md-5">
            <div class="panel panel-default">
                <div class="panel-heading text-center">
                    <h4>Votantes de la institución</h4>
                </div>
                <div class="panel-body">

                </div>
            </div>
        </div>
    
        <div class = "col-md-2 text-center">
            <div class = "btn-group-vertical">
                <button type = "button" class = "btn btn-default">Elegir</button>
                <br>
                <button type = "button" class = "btn btn-default">Eliminar</button>   
            </div>
        </div>    
        <div class="col-md-5">
            <div class="panel panel-default">
                <div class="panel-heading text-center">
                    <h4>Lista de votantes</h4>
                </div>
                <div class="panel-body">

                </div>
            </div>
        </div>

    </div>

</div>