<div class="container" ng-controller="InstitutionController">
    <div class="col-md-8 col-md-offset-2">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="panel-body">
                    <div class="thumbnail">
                        <br>
                        <img src="../../../img/default-image.jpg" alt="Lights" class="img-responsive" width="50%" height="30%">
                        <div class="caption text-center">
                            <h3>{{institution.name}}</h3>
                            <p>{{institution.description}}</p>
                        </div>
                    </div>
                    <button type="button" class="btn btn-default btn-block">Vincular institución</button>
                </div>
        </div>
    </div>
</div>