<!-- Left Side Of Navbar -->
<a href="#!/" class="btn navbar-btn" ng-class="{ active: isActive('/') }" role="button">Inicio</a>
<a href="#!/votar" class="btn navbar-btn" ng-class="{ active: isActive('/vote') }" role="button">Ver Votaciones</a>
<!--<a href="#!/nosotros" class="btn navbar-btn" ng-class="{ active: isActive('/nosotros') }" role="button">Nosotros</a>
<a href="#!/contacto" class="btn navbar-btn" ng-class="{ active: isActive('/contacto') }" role="button">Contacto</a>-->

<!-- Right Side Of Navbar -->
<ul class="nav navbar-right">
    <a href="/" class="btn navbar-btn" role="button">Cerrar Sesión</a>
</ul>