<div class="container" ng-controller="InstitutionController">
    <div class="col-md-8 col-md-offset-2">
        <div class="panel panel-default">
            <div class="panel-heading text-center">
                <h4> Administración votaciones de {{institutionName}}</h4>
            </div>
            <div class="panel-body">
            	<table class = "table">
            		<thead>
            			<tr>
	            			<th>#</th>
		            		<th>Votación</th>
		            		<th>Fecha inicio</th>
		            		<th>Fecha termino</th>
		            		<th>Ver resultados</th>
            			</tr>
            		</thead>
            		<tbody>
	            		<tr ng-repeat = "v in votation">
							<td>{{$index+1}}
							<td>{{v.title}}</td>
							<td>{{v.initDate | date: 'dd/MM/yyyy' }}</td>
							<td>{{v.endDate| date: 'dd/MM/yyyy' }}</td>
							<td>
								<button ng-click="show($index)" type="submit" class="btn btn-default">Ver</button>
							</td>
	            		</tr>
	            	</tbody>
            	</table>
            </div>
        </div>
    </div>
</div>