<div class="container" ng-controller="MainController">
    <div class="col-md-8 col-md-offset-2">
        <div class="panel panel-default">
            <div class="panel-heading text-center">
                <h4>Registro</h4>
            </div>
            <div class="panel-body">
                <form class="form-horizontal" role="form">
                    <div class="form-group">
                        <label for="name" class="col-md-4 control-label">Nombre de la institución</label>
                        <div class="col-md-6">
                            <input ng-model="newInstitution.name" type="text" class="form-control" >
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="giro" class="col-md-4 control-label">Giro</label>
                        <div class="col-md-6">
                            <input ng-model="newInstitution.giro" type="text" class="form-control" >
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="rut" class="col-md-4 control-label">Rut</label>
                        <div class="col-md-6">
                            <input ng-model="newInstitution.rut" type="text" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="email" class="col-md-4 control-label">Correo electronico</label>
                        <div class="col-md-6">
                            <input ng-model="newInstitution.email" type="email"
                                   class="form-control" >
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="phone" class="col-md-4 control-label">Numero de contacto</label>
                        <div class="col-md-6">
                            <input ng-model="newInstitution.phone" type="text"
                                   class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="desc" class="col-md-4 control-label">Descripción</label>
                        <div class="col-md-6">
                            <textarea class="form-control" rows="5" ng-model = "newInstitution.desc"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-4">
                            <button ng-click="send()" type="submit" class="btn btn-default">Solicitar Registro</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>